<li>
  O vaca superba, <b><%= cow.name %></b>
  <%= form_for :cow, :url => { :action => :delete } do |f| %>
    <%= f.hidden_field :name, :value => cow.name %>
    <%= f.submit "Decow" %>
  <% end %>
</li>
